html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  display: block;
}

hr {
  width: 80%;
  color: #555;
}

.list {
  display: block;
  padding: 15px 0;
}

.category {
  width: 20%;
  float: left;
  text-align: center;
  line-height: 48px;
  font-size: 2vw;
  text-shadow: 2px 2px #ccc;
  font-style: italic;
}

#underline {
  width: 80%;
  height: 0.2vw;
}

.year-title {
  line-height: 1.2;
  font-size: 2vw;
  text-align: center;
  padding: 20px 0;
}
.year-title hr {
  width: 50%;
  height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
  border: 0;
}

/* paper */
.paper {
  line-height: 2;
  font-size: 1.5vw;
  overflow: auto;
  text-align: left;
  margin: 15px 0;
}

.paper-title {
  font-weight: bold;
}

.paper-conference {
  font-style: italic;
}

.paper-img {
  float: right;
  height: auto;
  width: 40%;
  margin-right: 10%;
  border: 1px solid darkgrey;
}

.paper-demo {
  text-decoration: underline;
  color: blue;
  font-size: 1.3vw;
}

.paper-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

@media screen and (max-width: 900px) {
  .paper-img {
    max-width: 50%;
  }
  .category {
    font-size: 4vw;
  }
  .year-title {
    font-size: 4vw;
  }
  .paper {
    font-size: 3vw;
  }
}

.col {
  float: left;
}

.col.s1 {
  width: 35%;
}

.col.s2 {
  width: 60%;
}

.top-arrow {
  display: block;
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ddd;
  opacity: 0.5;
}

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: none;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: #eee;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
