body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	margin: 0 0 20px 0;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 30px;
}
h3, h4 {
	color: #222;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p.intro {
	font-size: 30px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #555;
}
a:hover, a:focus {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 1px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #666;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar-custom {
	margin-bottom: 0;
	background-color: #f6f6f6;
	border-radius: 0px;
	padding: 10px 0;
	border-bottom: 2px solid #fff;
}
.navbar-custom a {
	color: #555;
}
.navbar-custom .nav li a {
	margin: 0 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: 	#0066FF;
	background-color: transparent;
    border: none;
    padding: px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #000;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	text-transform: uppercase;
	color: #555;
	background-color: transparent;
	border-color: #777;
	padding: px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	text-align: center;
	color: #e5e5e5;
	background: url(../img/intro-bg.jpg) no-repeat center top;
	background-color: #4b4b4b;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 10px 0 10px 0;
}
.intro h1 {
	font-size: 100px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #e5e5e5;
  text-shadow: 2px 2px 2px #333;
}
.intro p {
	font-size: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
  text-shadow: 1px 1px 1px #333;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 200px;
}
/* lab Section */
#lab {
	padding: 100px 0;
  display: none;
}
#lab .section-subtitle {
  padding: 40px 0 10px 0;
}
.section-subtitle h2 {
  font-weight: 200;
  font-size: 26px;
}
.section-subtitle hr {
  width: 50%;
}
#lab .lab-text {
	margin-left: 10px;
	text-align: justify;
    text-justify:inter-ideograph;
  padding: 0 0 60px 0;
}
#lab img {
	border-radius: 50%;
	width: 10vw;
	height: 10vw;
	display: inline-block;
  margin: 0 0 15px 0;
}

#lab p {
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 22px;
}
.people-col {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
  text-align: center;
  float: left;
  font-size: 1.2vw;
}
.people-img {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.25s ease;
}
.people-img:hover {
  transform: scale(1.05);
}
.people-name {
  font-weight: bold;
}
.people-topic {
  font-style: italic;
  color: #1a237e;
}
.slideshow {
  padding: 5px;
  margin: 0;
  min-height: 350px;
}
.people-slide, .alumni-slide {
  animation: animateleft 1s;
  width: 90%;
  margin: 2% auto;
  float: center;
}
.slide-btn {
  text-align: center;
  width: 5%;
  float: left;
}
@media screen and (max-width: 800px) {
  /* FIXME seems there's a bug on chrome ios float, hard fixed here */
  .people-slide, .alumni-slide {
    margin-left: 7vw;
    width: 80%;
  }
  .slide-btn {
    width: 3%;
  }
  /* FIXME seems there's a bug on chrome ios box-shadow, hard fixed here */
  .people-img {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .people-col {
    font-size: 1.5vw;
  }
  #lab img {
    width: 15vw;
    height: 15vw;
  }
  .slideshow {
    min-height: 130px;
  }
}
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.button-grey {
  color: #aaa;
  background-color: Transparent;
  border: none;
  outline: none;
  margin-top: 50px;
  user-select: none;
  font-size: 16pt;
}
/* News Section */
#news {
	padding: 100px 0;
}
.news-board {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  margin: 0.5rem 3rem 1rem 3rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.news-header {
  display: block;
  line-height: 3rem;
  min-height: 3rem;
  padding: 10px 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-size: 12pt;
}
.news-icon {
  color: #333;
  width: 2rem;
  display: block;
  float: left;
  margin-right: 1rem;
}
.news-time {
  color: #888888;
  padding: 0 10px;
}
/* make news align to center */
.col.s3 {
  width: 15%;
  padding: 1px 0;
}
.col.s4 {
  width: 100%;
}
/* Research Section */
#research {
	padding: 100px 0;
    display: none;
}
.research {
  padding-bottom: 80px;
}
.research-img {
  max-height: 400px;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-top: 10%;
  border: 1px solid darkgrey;
}
.research-hr {
  display: block;
  float: left;
  width: 200px;
  margin: 0;
  border-top: 3px solid #e7e7e7;
}
.research-title {
  display: block;
  font-size: 22pt;
  margin: 20px 0;
  font-weight: 400;
  color: #555;
}
.research-desc {
  font-size: 14pt;
  line-height: 1.5;
  text-align: justify;
}

.reference-text {
	margin-left: 10px;
	text-align: justify;
  padding: 0 0 60px 0;
}

.align-left {
  margin-left: 10%;
}
.padding-right {
  padding-right: 2vh;
}
.col.s5 {
  width: 30%;
}
.col.s6 {
  width: 55%;
}
/* Publications Section */
#publication {
	padding: 100px 0;
  display: none;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	border: 1px solid #777;
	color: #555;
	padding: 8px 20px;
}
ol.type li a.active {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
ol.type li a:hover {
	background: #222;
	border: 1px solid #222;
	color: #fff;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.publication-item {
	margin: 15px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.publication-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.publication-item .hover-bg {
	height: 195px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	text-transform: uppercase;
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
.more {
  margin-top: 30px;
  display: block;
  text-align: right;
  font-size: 14pt;
}

/* honors Section */
#honors {
	padding: 100px 0;
	display: none;
}
section.resume-section {
	font-size: 22px;
	line-height: 24px;ã€€
  }

/* make honors align to center */
.col.s3 {
  padding: 1px 0;
}
.col.s4 {
  width: 100%;
}


/* activities Section */
#activities {
	padding: 100px 0;
	display: none;
}

/* make activities align to center */
.col.s3 {
  width: 15%;
  padding: 1px 0;
}
.col.s4 {
  width: 70%;
}
  
  .card-panel {
	margin: 0;
	padding: 60px;
  }


/* Contact Section */
#contact {
	padding: 100px 0;
  display: none;
}
#contact .section-title {
  padding: 0;
}
#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
}
#contact form {
	padding: 30px 0;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #2c3e50;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 1px solid #999;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact .info {
  padding: 10px 0px;
}
#contact .info>span {
  padding: 10px 5px;
  font-size: 2.5vh;
}
.form-control::-webkit-input-placeholder {
color: #2c3e50;
}
.form-control:-moz-placeholder {
color: #2c3e50;
}
.form-control::-moz-placeholder {
color: #2c3e50;
}
.form-control:-ms-input-placeholder {
color: #2c3e50;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 22px;
	padding: 4px;
	color: #444;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: #000;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #f6f6f6;
	color: #777;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #555;
}
#footer a:hover {
	color: #000;
}
@media screen and (max-width: 700px) {
  #lab, #news, #research, #publication, #honors, #activities, #contact {
    padding: 50px 0;
  }
}
